<%- layout("/layouts/boilerplate-nav.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="mt-3">Create a new Listing</h2>
            <form action="/listings" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter a catchy title" required class="form-control">
                    <div class="invalid-feedback">Title needs to be entered</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter the description" required class="form-control"></textarea>
                    <div class="invalid-feedback">Description needs to be entered</div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" id="category" class="form-select">
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Castles">Castles</option>
                        <option value="Amazing Pools">Amazing Pools</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Dome">Dome</option>
                        <option value="Boats">Boats</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">Choose an image file</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter the price" required class="form-control">
                        <div class="invalid-feedback">Price needs to be entered</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter the country" required class="form-control">
                        <div class="invalid-feedback">Country needs to be entered</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter the location" required class="form-control">
                    <div class="invalid-feedback">Location needs to be entered</div>
                </div>
                <button class="addbtn btn btn-dark mt-4 mb-5">Add</button>
            </form>
        </div>
    </div>
</body>
